.flex-row {
    display: flex;
    flex-direction: row;
}
.flex-column {
    display: flex;
    flex-direction: column;
}


.gap-100 {
    gap: var(--space-100);
}


.mb-200 {
    margin-bottom: var(--space-200);
}
.mb-300 {
    margin-bottom: var(--space-300);
}
.mb-400 {
    margin-bottom: var(--space-400);
}
.mb-500 {
    margin-bottom: var(--space-500);
}

.mt-300 {
    margin-top: var(--space-300);
}
.mt-400 {
    margin-top: var(--space-400);
}
.mt-500 {
    margin-top: var(--space-500);
}

span {
    color: var(--green-600);
}

.contact-title, .name, .email, .query, .label-checkbox, .label-message {
  color: var(--grey-900);
}